.avatar {
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  &__md {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  &__lg {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}

